/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .navbar-brand {
        font-size: 16px;
    }

    .background{
        background-color: rgb(21, 145, 114);
        background-position: 0;
        color: white;
        padding: 0;
    }
    
    .background .row{
        text-align: center;
        padding-top: 5%;
        height: 80vh;
        margin: 0;
        width: 100%;
    }

    .background .intro p, .background .intro h6{
        font-size: 20px; 
        font-weight: 400;
    }

    .intro p{
        margin-bottom: 2px;
    }

    .background .intro h1{
        font-family: 'Ubuntu', sans-serif; 
        font-weight: bolder; 
        font-size: 20px;
        color: #FFD300;
        margin-bottom: 5px;
    }
    
    .background h6 {
        font-size: 12px; 
        font-weight: 400;
    }

    .background .intro span a{
        text-decoration: none;
        font-size: 12px;
        padding-right: 15px;
        color: #1F2833;
    }

    .profile-img{
        height: 50vh;
        width: 70%;
        border: #FCE300 solid 3px;
        border-radius: 100%;
    }

    .about{
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0 20px;
    }

    .resume{
        margin-top: 10px;
        padding: 0 10px;
    }

    .contact{
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 0 10px;
    }

    .content {
        margin-bottom: 20px;
    }

    .about h1, .resume h1, .contact h1 {
        padding-bottom: 5px;
        text-align: center;
        font-size: 14px; 
    }
    
    .about p{
        text-align: justify;
        padding-bottom: 8px;
    }

    .resume h5 {
        font-size: 16px; font-weight: 400;
    }

    .resume p{
        font-size: 14px; 
        font-weight: 400;
    }

    .contact-custom .row{
        margin-left: 10px;
        margin-right: 10px;
    }

    .social, .phone, .my-email{
        margin-bottom: 15px;
    }
 }

 @media (min-width: 576px) { 
    .navbar-brand {
        font-size: 16px;
    }
    

    .about{
        margin-top: 15px;
        padding: 0 30px;
    }

    .resume{
        margin-top: 10px;
        padding: 0 30px;
    }

    .contact{
        margin-top: 10px;
        padding: 0 20px;
    }

    .row-custom{
        padding-left: 0;
    }

    .about h1, .resume h1, .contact h1 {
        padding-bottom: 8px;
        text-align: left;
    }
    
    .about p{
        text-align: justify;
        padding-bottom: 5px;
    }

    .resume h5 {
        font-size: 18px; 
        font-weight: 400;
    }

    .resume p{
        font-size: 14px; font-weight: 400;
    }

    .social, .phone, .my-email{
        margin-bottom: 15px;
    }
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .row-custom{
        padding-left: 5%;
    }

    .background{
        background-color: rgb(21, 145, 114);
        background-position: 0;
        height: 80vh;
        color: white;
    }
    
    .background .intro{
        margin-top: 15%;
        padding-left: 5%;
    }

    .background .intro p{
        font-size: 14px; 
    }
    
    .background .intro h1{
        font-family: 'Ubuntu', sans-serif; 
        font-weight: bolder; 
        font-size: 50px;
        color: #FFD300;
        margin-bottom: 5px;
    }
    
    .intro p{
        margin-bottom: 2px;
    }

    .background .intro p, .background .intro h6{
        font-size: 20px; 
        font-weight: 400;
    }

    .background .intro span a{
        text-decoration: none;
        font-size: 20px;
        padding-right: 15px;
        color: #1F2833;
    }

    .background .intro h6{
        margin-bottom: 25px;
    }

    .pic, .intro{
        height: 80vh;
        /* border: #1F2833 2px solid; */
    }

    .pic{
        padding: 1% 0 0 0;
        /* border: #1F2833 2px solid; */
    }

    .profile-img{
        height: 76vh;
        width: 90%;
        border: #FCE300 solid 3px;
        border-radius: 100%;
    }

    .about{
        margin-top: 30px;
        padding: 0 50px;
    }
    
    .resume{
        margin-top: 50px;
        padding: 0 50px;
    }

    .content{
        margin-bottom: 30px;
    }

    .contact{
        margin-top: 10px;
        padding: 0 50px;
    }

    .about h1, .resume h1, .contact h1 {
        padding-bottom: 20px;
        text-align: left;
    }

    .contact-custom .row{
        margin: 0 20px;
        justify-content: space-between;
    }

    .social, .my-email, .phone{
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 0;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    .about{
        margin-top: 20px;
        padding: 0 150px;
    }

    .background .intro p, .background .intro h6{
        font-size: 24px; 
        font-weight: 400;
    }

    .pic{
        padding: 1% 0 0 10%;
    }
    
    .resume{
        margin-top: 25px;
        padding: 0 150px;
    }

    .contact{
        margin-top: 10px;
        padding: 0 80px;
    }

    .about h1, .resume h1 {
        padding-bottom: 20px;
        text-align: left;
    }
 }

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    
 }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
    
 }